@charset "utf-8";
/* --------------------------------------- */
/*.l-main .rec-ch-desc ul {
	position: relative;
	font-size: 0;
	overflow: hidden;
}
.l-main .rec-ch-desc li {
	position: relative;
	width: 50%;
	float: left;
	border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}*/
/*.l-main .rec-ch-desc li:nth-child(3) {
	margin-top: 1px;
}
.l-main .rec-ch-desc li:nth-child(4) {
	clear: both;
	margin-top: -199px;
}
.l-main .rec-ch-desc li:nth-child(5) {
	margin-top: 1px;
}
.l-main .rec-ch-desc li:nth-child(6) {
	margin-top: -199px;
}
.l-main .rec-ch-desc li:nth-child(8) {
	margin-top: -199px;
}
.l-main .rec-ch-desc li:nth-child(9) {
	margin-top: 1px;
	clear: both;
}
.l-main .rec-ch-desc li:nth-child(10) {
	margin-top: 1px;
}
.l-main .rec-ch-desc li:nth-child(11) {
	margin-top: -39px;
}
.l-main .rec-ch-desc li:nth-child(12) {
	margin-top: 1px;
}
.l-main .rec-ch-desc li:nth-child(13) {
	margin-top: -40px;
}
.l-main .rec-ch-desc li:nth-child(15) {
	margin-top: 1px;
}
.l-main .rec-ch-desc li:nth-child(16) {
	margin-top: -100px;
}*/
@media only screen and (min-width: 768px) {
/*	.l-main .rec-ch-desc li:nth-child(3) {
		margin-top: 0px;
	}
	.l-main .rec-ch-desc li:nth-child(4) {
		clear: both;
		margin-top: -479px;
	}
	.l-main .rec-ch-desc li:nth-child(6) {
		margin-top: -479px;
	}
	.l-main .rec-ch-desc li:nth-child(8) {
		margin-top: -479px;
	}
	.l-main .rec-ch-desc li:nth-child(9) {
		margin-top: 0px;
		clear: both;
	}
	.l-main .rec-ch-desc li:nth-child(10) {
		margin-top: 0px;
	}
	.l-main .rec-ch-desc li:nth-child(11) {
		margin-top: -95px;
	}
	.l-main .rec-ch-desc li:nth-child(12) {
		margin-top: 1px;
	}
	.l-main .rec-ch-desc li:nth-child(13) {
		margin-top: -96px;
	}
	.l-main .rec-ch-desc li:nth-child(15) {
		margin-top: 1px;
	}
	.l-main .rec-ch-desc li:nth-child(16) {
		margin-top: -239px;
	}*/
}
.l-main .rec-ch-desc video {
	width: 100%;
}
/* --------------------------------------- */