.tiles {
    position: relative;
    width: 100%;
    clear: both;
    box-sizing: border-box;
    border-right: 1px solid #fff;
    background-color: #f0f2f2;
}
.tiles li {
    width: 50%;
    float: left;
    position:relative;
}
.tiles li.col1{
    width: 100%;
}
.tiles li a {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.tiles li img,
.tiles li video{
    display: block;
    width: 100%;
    height: auto;
}
.l-header .login-window{
    display: none;
    opacity: 0;
}

.modal-bg {
    display: none;
    position: fixed;
    z-index: 99;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(244,244,244,.8);
    opacity: 0;
    content: ' ';
}

.l-header .login-window .login-before{
    display: block;
    margin: 16px 0;
}
/* 商品詳細関連キーワード */
.l-main .relation-word ul{
    letter-spacing: -.40em;
}
.l-main .relation-word ul li {
    letter-spacing: normal;
    margin-right:6px;
}
/* メニューナビスクロール */
.l-nav{
    overflow: scroll;
}

/* myオススメチャンネル */
.l-main .rec-ch.rec-ch-more-my{
    border-bottom: 1px solid #eee;
}
.l-main .rec-ch.rec-ch-more-my .rec-ch-more {
    text-align: center;
    background-color: #ffffff;
}
.l-main .rec-ch.rec-ch-more-my .rec-ch-more a {
    display: inline-block;
    width: 239px;
    margin: 10px 0;
    padding: 15px 26.5px 15px 26.5px;
    border-radius: 40px;
    color: #ffffff;
    background-color: #231f19;
}
.l-main .rec-ch.rec-ch-more-my .rec-ch-more.delete a {
    background-color: #a6a4a2;
}
.l-main .rec-ch.rec-ch-more-my .rec-ch-more a:before {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 6px;
    margin-bottom: -5px;
    content: "";
    background: url('../img/add_channel_btn.png');
    background-size: cover;
}
.l-main .rec-ch.rec-ch-more-my .rec-ch-more.delete a:before {
    background: url('../img/delete_channel_btn.png');
    background-size: cover;
}

/* タブmyチャンネル */
.rec-ch-tabmenu {
    overflow: hidden;
    position: relative;
    background-color: white;
    border-bottom: 1px solid #bbbab8;
}
.rec-ch-tabmenu .tab-btn {
    position: absolute;
    width: 6px;
    height: 12.5px;
    cursor: pointer;
}
.rec-ch-tabmenu .back {
    top: 50%;
    left: 6px;
    margin-top: -6.5px;
}
.rec-ch-tabmenu .next {
    top: 50%;
    right: 6px;
    margin-top: -6.5px;
}
.rec-ch-tabmenu span {
    position: relative;
    display: inline-block;
    width: 11.1111%;
    padding: 15px 0;
    color: #a6a4a2;
    text-align: center;
    cursor: pointer;
}
#top > .rec-ch-tabmenu:nth-of-type(2n),
#top > .rec-ch-tabmenu:last-of-type {
    border-top: 1px solid #bbbab8;
    border-bottom: none;   
}
.rec-ch-tabmenu span.on {
    color: #403e3b;
    border-bottom: 2px solid #403e3b;
}
#top > .rec-ch-tabmenu:nth-of-type(2n) span.on,
#top > .rec-ch-tabmenu:last-of-type span.on {
    border-top: 2px solid #403e3b;
    border-bottom: none;
}
/*.rec-ch-tabmenu.my {
    border-bottom: 2px solid #f1c40f;
}
.rec-ch-tabmenu .tab-my.on {
    background-color: #f1c40f;
}*/
/*.rec-ch-tabmenu .tab-my {
    color: #f1c40f;
}*/

/* menu 比率変更 */
.l-nav{
    width: 60%;
}

/* gray modal */
.modal-gray-bg {
    display: none;
    position: fixed;
    z-index: 99;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    content: ' ';
}

/* login */
.l-header .login-area .login{
    margin:-14px 31px 0 0;
}

/* add 20160701 merge react and dev up css */
.onFix {
    position: fixed;
    left: -60% !important;
}

.onFixDetail {
    position: fixed;
    left: -160% !important;
}

/* add 20160704 merge react and dev up css */
.pswp__button .pswp__button--zoom {
    display: none !important;
}