@charset 'utf-8';
/* reset css */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

        -ms-box-sizing: border-box;
}
img {
    width: 100%;
    vertical-align: top;
}
video {
    width: 100%;
    vertical-align: top;
}
a {
    color: #353535;
    text-decoration: none;
}
li {
    list-style: none;
}
/* common settings */
html {
    font-size: 62.5%;
}
body {
    color: #353535;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo, Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', Arial, Helvetica,sans-serif;
    font-size: 1.4rem;;
}
html,
body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    -webkit-text-size-adjust: none;
}

.contentWrap{
    width: 100%;
    max-width: 970px;
    height:100%;
   margin:0 auto;*/
}

.favolite-btn {
    position: absolute;
    top: 10px;
    right: 45px;
    width: 19.5px;
    height: 19px;
    background: url(../img/favorite_btn_off.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.favolite-btn.on {
    width: 19.5px;
    height: 19px;
    background: url(../img/favorite_btn_on.png) no-repeat;
    background-size: contain;
}
.play-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 28px;
    height: 20px;
    background-image: url(../img/video_play_btn.png);
    background-size: cover;
    cursor: pointer;
}
.modal-bg:after {
    display: none;
    position: fixed;
    z-index: 99;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    content: ' ';
}
.dis-none {
    display: none !important;
}
/* l-header */
.l-nav {
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 100%;
    width: 40%;
    height: 100%;
    color: white;
    background-color: #323333;
}
.l-nav li {
    /*display: none;*/
    width: 90%;
    margin: 0 auto;
    padding-left: 9px;
    text-align: center;
    border-bottom: 1px solid #646666;
}
.l-nav li:first-child {
    padding: 16px;
    cursor: pointer;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
}
.l-nav li a {
    display: block;
    padding: 20px 20px 20px 0;
    color: white;
    text-align: left;
}
.l-nav li a:after {
    position: absolute;
    right: 8%;
    content: "";
    display: inline-block;
    background-image: url('../img/nav_btn.png');
    background-size: cover;
    width: 6px;
    height: 12.5px;
}
.l-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    max-width: 970px;
    padding: 16px 10px;
    border-bottom: 1px solid #b2afac;
    background-color: white;
    height:49px;
    z-index: 1001;
}

.l-header .arrow{
    float: left;
}

.l-header .arrow img.back{
    max-width: 10px;
    width:auto;
}

.l-header .arrows {
    float: left;
}
.l-header .arrows img {
    width: 16px;
}
.l-header .arrows img.back {
    max-width: 10px;
    width: auto;
}

.l-header .search {
    margin-left: 30px;
}

.l-header .search img {
    width: 16px;
}
/*.l-header .search a {
    margin-left: 20px;
    padding: 5px 2px 2px 0;
}
.l-header .search i {
    color: #989898;
    font-size: 1.7em;
}*/
.l-header h1 {
    margin: -16px 25px 0 0;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.l-header h1 a{
    vertical-align: middle;
}

.l-header h1 img{
    width:122px;
    height:16.5px;
}

.l-header .login-area .login {
    margin: -14px 40px 0 0 !important;
    font-size: 1.4rem;
    text-align: right;
}

.l-header .login-area .login.status-logout a {
    color : #a6a4a2;
}

.l-header .login-area .login a{
    color:#a6a4a2;
    vertical-align: top;
    font-size: 10px;
}

.l-header .login-window:before {
    display: block;
    position: absolute;
    top: -30px;
    left: 32px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 20px solid #000000;
    content: '';
}
.l-header .login-window {
    position: fixed;
    top: 58px;
    right: 5px;
    left: 5px;
    padding: 0px 25px;
    border-radius: 5px;
    background-color: #000000;
    text-align: center;
    max-width: 970px;
    margin:0 auto;*/
}
.l-header .login-window .page-transition-btn {
    margin-top: 0px;
    margin: 0;
}
.l-header .login-before {
    display: none;
}
.l-header .login-before p {
    /*padding: 40px 0;*/
    /*line-height: 1.2;*/
    letter-spacing: 0.2rem;
    color: white;
}
.l-header .login-before > p {
    line-height: 1.4;
}
.l-header .login-before ul {
    /*margin-bottom: 40px;*/
}
.l-header .login-before li {
    margin-top: 10px;
}
.l-header .login-before li a {
    border: none;
}
.l-header .login-after {
    margin: 15px 0;
    text-align: left;
}
.l-header .login-after h2 {
    text-align: left;
    color: white;
}
.l-header .login-after h2:last-of-type {
    margin-top: 20px;
}
.l-header .login-after input[type='text'] {
    width: 100%;
    margin-top: 10px;
    padding: 8px 0 8px 8px;
    font-size: 1.4rem;
    border: 1px solid #a6a4a2;
    border-radius: 4px;
}
.l-header .login-after input[type='submit'] {
    position: relative;
    display: block;
    margin-top: -35px;
    margin-left: auto;
    height: 35px;
    text-align: right;
    font-size: 1.4rem;
    color: white;
    background-color: #404040;
    border: 1px solid #a6a4a2;
    border-left: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    z-index: 2;
}
.l-header .login-after .attn-word li {
    display: inline-block;
}
.l-header .login-after .attn-word a {
    display: inline-block;
    margin-top: 6px;
    margin-right: 5px;
    padding: 5px 6px;
    color: white;
    border-radius: 2px;
    background-color: #7e8080;
}
.l-header .login-after .choose-btn li {
    margin-top: 6px;
}
.l-header .login-after .choose-btn li:nth-child(2) {
    margin-top: 20px;
}
.l-header .login-after .choose-btn li a {
    width: 100%;
    border: none;
}
.l-header .login-after .choose-btn li:first-child a {
    color: white;
    background-color: #7e8080;
}
.l-header .login-after .choose-btn li:first-child a:after {
    background-image: url('../img/ch_transition_white_btn.png');
}

/*.l-header .login-after form {
    margin: 10px 0;
    text-align: left;
}
.l-header .login-after input[type='text'] {
    width: 84%;
    margin-right: -4px;
    padding: 10px;
    border: none;
    border: 1px solid #eee;
    -webkit-border-radius: 0;
    outline: 0;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.l-header .login-after input[type='submit'] {
    width: 40px;
    margin-right: -16px;
    padding: 10px;
    border: 1px solid #eee;
    -webkit-border-radius: 0;
    background: url(../img/search_btn.png) no-repeat;
    background-color: white;
    background-position: 9px 7px;
    background-size: 50%;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.l-header .login-after h2 {
    padding: 10px;
    text-align: left;
}
.l-header .login-after .attn-word {
    text-align: left;
    letter-spacing: -.40em
}
.l-header .login-after li {
    display: inline-block;
    margin-top: 6px;
    letter-spacing: normal;
}
.l-header .login-after .attn-word a {
    display: block;
    margin-right: 6px;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: #bdc3c7;
    color: white;
}
.l-header .login-after .attn-word a:before {
    content: "#";
}
.l-header .login-after .attn-word-more {
    margin: 5px 10px 5px 0;
    text-align: right;
}
.l-header .login-after .choose-btn {
    margin: 10px 0;
}
.l-header .login-after .choose-btn li {
    display: block;
}
.l-header .login-after .choose-btn a {
    padding: 15px 0;
    border: 1px solid #eee;
    display: block;
}*/
.l-header .menubar.close img {
    width: 17.5px;
    height: 14.5px;
}
.l-header .menubar.open img {
    width: 15px;
    height: 15px;
}
.l-header .menubar {
    margin: -16px 0 6px;
    text-align: right;
    width: 16px;
    float: right;
}

.l-header .menubar i {
    color: #989898;
}
.l-main {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 49px;
    max-width: 970px;
}
.l-main.detail {
    width: auto;
}


/*--------------------------*/
#content {
    overflow: hidden;
}

#top {
    width:100%;
    max-width: 970px;
    background-color: #f0f2f2;
}

#detail {
    float: right;
    width: 50%;
}
/*--------------------------*/

/*----------------------------------------*/
/*  @top
/*----------------------------------------*/
.l-main .guide {
    position: relative;
}
.l-main .guide.close {
    display: none;
}
.l-main .guide img {
    width: 100%;
}
.l-main .guide-close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 15px;
    height: 15px;
    background-image: url(../img/close_btn.png);
    background-size: cover;
    cursor: pointer;
}
.l-main .rec-ch {
    /*background-color: #f0f2f2;*/
}
.l-main .rec-ch h2 {
    padding: 18px 0;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.12rem;
}
.l-main .rec-ch ul {
    overflow: hidden;
    padding-right: 7px;
}
.l-main .rec-ch li {
    position: relative;
    float: left;
    width: 50%;
    padding: 0 0% 7px 7px;
}
.l-main .rec-ch li.col1 {
    width: 100%;
}
.l-main .rec-ch li p {
    position: relative;
    margin-top: -19px;
    padding: 3.5px 0;
    z-index: 5;
    bottom: 0;
    width: 100%;
    color: #353535;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(255,255,255,.6);
}
.page-transition-btn {
    margin-top: -4px;
    margin: 15px 0;
}
.page-transition-btn a {
    position: relative;
    display: block;
    width: 98%;
    margin: 0 auto;
    padding: 14px 0;
    text-align: center;
    font-size: 1.6rem;
    border: 2px solid #000;
    background-color: #ffffff;
}
.page-transition-btn a:after {
    position: absolute;
    right: 8px;
    top: 14px;
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("../img/ch_transition_btn.png");
    background-size: cover;
}
.l-main .rec-ch .rec-ch-bg {
/*    padding: 3.5px;
    background-color: rgba(0,0,0,.4);*/
    letter-spacing: .1em;
}
/*.l-main .rec-ch .rec-ch-more {
    margin: 18px 20px 18px 20px;
    text-align: right;
}*/
.rec-ch-more-btn {
    background-color: #ffffff;
}
.rec-ch-more-btn a {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-left: 12.5px;
    text-align: center;
    padding: 20px 0;
    font-size: 1.6rem;
}
.rec-ch-more-btn a:after {
    content: "";
    display: inline-block;
    margin: 4px 0 0 10px;
    width: 12.5px;
    height: 6px;
    background-image: url("../img/ch_more_btn.png");
    background-size: cover;
}
.l-main .rec-chTxt {
    display: none;
    overflow: scroll;
    margin-top: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
}
.l-main .rec-chTxt ul {
    margin-left: 20px;
}
.l-main .rec-chTxt li {
    display: inline-block;
    margin-right: 10px;
    line-height: 40px;
}
/* --------------------------------------- */
/* tab */
/* --------------------------------------- */
/*.l-main .rec-ch-desc ul {
    overflow: hidden;
}
.l-main .rec-ch-desc li {
    position: relative;
    float: left;
    width: 50%;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}
.l-main .rec-ch-desc li:nth-child(3) {
    margin-top: -70px;
}
.l-main .rec-ch-desc li:nth-child(5) {
    clear: both;
}
@media only screen and (min-width: 768px) {
    .l-main .rec-ch-desc li:nth-child(3) {
        margin-top: -169px;
    }
}
.l-main .rec-ch-desc video {
    width: 100%;
}*/
/* --------------------------------------- */
.l-main .register {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    width: 300px;
    height: 150px;
    margin: 0 auto;
}
.l-main .register a {
    display: block;
    padding: 10px 0;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: white;
    text-align: center;
}

.l-main .entryArea .error_text{
    color:#FF0000;
    display:none;
}

/*----------------------------------------*/
/*  @detail
/*----------------------------------------*/

.l-main.detail{
    width: 100%;
            max-width: 970px;
}

#detailIndex {
    width: 100%;
}

.l-header .login-window.on {
    display: block;
}

.l-main .product-kv li p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #353535;
}

.l-main .product-kv li .tooltip{
    position:absolute;
    width:130px;
}

.l-main .product-kv li .tooltip .tooltipBtn{
    background: url(../img/tooltip_off.png) no-repeat;
    width:7px;
    height:7px;
    background-size: 100% auto;
}
.l-main .product-kv li .tooltip .tooltipBtn.on{
    background: url(../img/tooltip_on.png) no-repeat;
    width:12px;
    height:12px;
    background-size: 100% auto;
    margin-left: -3px;
    margin-top: -3px;
}

.l-main .product-kv li .tooltip .tooltipText{
    display:none;
    width: 130px;
    height: 70px;
}
.l-main .product-kv li .tooltip .tooltipText.on{
    display: block;
    background: #000;
    background-size: 100% auto;
    width: 116px;
    font-size: 12px;
    height: 60px;
    color: #fff;
    text-align: left;
    position: static;
    line-height: 1.4;
    padding: 6px 8px;
    letter-spacing: 0.02em;
    margin-left: -1px;
    margin-top:-3px;
}

.l-main .product-kv li .tooltip .tooltipText.on:after{
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.l-main .product-kv li .tooltip .tooltipText.on.lefttop:after{
    content: "";
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #000;
    top: 0px;
    right: 127px;
}

.l-main .product-kv li .tooltip .tooltipText.on.leftbottom:after{
    content: "";
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #000;
    top: 30px;
    right: 127px;
}



.l-main .product-kv li .tooltip .tooltipText.on.topleft:after{
    content: "";
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #000;
    top: -17px;
    right: 110px;
}

.l-main .product-kv li .tooltip .tooltipText.on.topright:after{
    content: "";
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #000;
    top: -17px;
    right: 24px;
}


.l-main .product-kv li .tooltip .tooltipText.on.righttop:after{
    content: "";
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #000;
    top: 0px;
    right: 2px;
}


.l-main .product-kv li .tooltip .tooltipText.on.rightbottom:after{
    content: "";
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #000;
    top: 30px;
    right: 2px;
}


.l-main .product-kv li .tooltip .tooltipText.on.bottomleft:after{
    content: "";
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-top: 8px solid #000;
    top: 53px;
    right: 110px;
}

.l-main .product-kv li .tooltip .tooltipText.on.bottomright:after{
    content: "";
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-top: 8px solid #000;
    top: 53px;
    right: 24px;
}




.l-main .product-kv li i {
    margin-right: 10px;
}
.l-main .product-desc {
    border-bottom: 1px solid #a6a4a2;
    border-top: 1px solid #a6a4a2;
}
.l-main .product-desc a {
    display: block;
    padding: 12px 10px;
    background: #262626 url(../img/icon_window_white.png) no-repeat center right 10px;
    color: #fff;
    background-size: 15px 14px;
}

.l-main .product-list li {
    border-bottom: 1px solid #a6a4a2;
}

.l-main .product-list li a {
    display: block;
    padding: 10px 10px;
    background: url(../img/icon_window_gray.png) no-repeat center right 10px;
    background-size: 15px 14px;
}
.l-main .product-list li span {
    display: block;
    margin-top: 4px;
    color: #231f19;
    font-size: 13px;
}

.l-main .catalog-link:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-image: url(../img/icon_catalog.png);
    background-size: cover;
    content: ' ';
}
.l-main .catalog-link {
    border-bottom: 1px solid #eee;
    background: #f0f2f2;
}

.l-main .catalog-link p {
    padding: 16px 10px 16px 10px;
    line-height: 1.8;
    display:inline-block;
}

.l-main .catalog-link span{
    display:block;
}

.l-main .catalog-link .published{
    font-size: 11px;
}

.l-main .catalog-link .belle{
    font-weight: bold;
    line-height: 1;
    font-size: 13px;
}

.l-main .similar-list h2 {
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

/*.l-main .similar-list ul {
    overflow: hidden;
}
.l-main .similar-list li {
    float: left;
    width: 50%;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}*/

.l-main .similar-list-more a{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18px 0 18px 20px;
    font-size: 1.3rem;
    border-bottom: 1px solid #eee;
        color: #403e3b;
    letter-spacing: 0.12em;
}

.l-main .similar-list-more a:after{
    content: "";
    display: inline-block;
    margin: 4px 0 0 10px;
    width: 12.5px;
    height: 6px;
    background-image: url(../img/ch_more_btn.png);
    background-size: cover;
}

.l-main .relation-word {
    clear: both;
}
.l-main .relation-word h2 {
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.02em;
}
.l-main .relation-word ul {
    padding: 0 10px;
    margin-top: -6px;
}
.l-main .relation-word li {
    display: inline-block;
    margin-top: 6px;
}
.l-main .relation-word li a:before {
    content: '#';
}
.l-main .relation-word li a {
    display: block;
    padding: 6px 8px 6px 8px;
    border-radius: 4px;
    background-color: #7e8080;
    color: white;
    font-size: 12px;
}

.l-main .relation-word-more {
    text-align: center;
    margin: 8px 10px  16px;
}

.l-main .relation-word-more a{
    padding: 12px 10px 12px 26px;
    background-color: #7e8080;
    color:#fff;
    display:block;
    overflow: hidden;
}

.l-main .relation-word-more a:after{
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/arrow_more_right.png);
    background-size: cover;
    vertical-align: sub;
    background-position: right center;
    float: right;
}

.l-main .add-favolite{
    padding: 15px 10px 15px;
    text-align: center;
    background-color: #f0f2f2;
}

.l-main .add-favolite a {
    border: 2px solid #231f19;
    color: #231f19;
    background-color: #fff;
    letter-spacing: 0.12em;
    font-size: 13px;
    line-height: 1.2;
    display: block;
    padding: 10px 0;
}

.l-main .add-favolite a:before {
    content: "";
    display: inline-block;
    margin: 0px 8px 0 0px;
    width: 20.5px;
    height: 19px;
    background-image: url(../img/icon_bookmark.png);
    background-size: cover;
    vertical-align: sub;
    background-position: center;
    background-repeat: no-repeat;
}

.l-main .share{
    background-color: #f0f2f2;
    padding-bottom: 15px;
}

.l-main .share ul {
    text-align: center;
}

.l-main .share li {
    display:inline-block;
    width:11.5%;
    margin-left: 10px;
}

.l-main .share li:first-child{
    margin-left: 0;
}

.l-main .share img{
    width:40px;
    height:auto;
}


.l-main .next-product {
    margin: 40px 0;
    text-align: center;
}

/* add 20160623 merge react and dev up css */
/*.l-main .similar-list ul {
    overflow: hidden;
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
}
.l-main .similar-list li {
    float: left;
    width: 50%;
    height: 400px;
    border-top: 5px solid #fff;
}
.l-main .similar-list li:nth-child(even){
    border-left: 5px solid #fff;
}
.l-main .similar-list img {
    width: auto;
    height: 400px;
    display: block;
    margin: 0 auto;
}*/


#content {
    width: 100%;
    margin:0 auto;
    max-width: 970px;
    position:absolute;
}
.l-main .product-kv li {
    display: block;
    background-color: #eee;
    text-align: center;
}

.l-main .product-kv li a{
    margin:0 35px;
    display:block;
    text-align: center;
    position:relative;
}

.l-main .tempoName{
    padding: 10px;
    background: #f0f0f0;
    text-align: left;
}

.l-main .tempoName .img{
    width: 18px;
    height: 17px;
    display: inline-block;
}

.l-main .tempoName .img img{
    vertical-align: bottom;
}


.l-main .tempoName .text{
    display: inline-block;
    position: static;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.02em;
}
/*
.l-main .product-kv li a{
    width: 80%;
    display: block;
    margin: 0 auto;
    height: auto;
}

.l-main .product-kv li:after{
    content: "ベルメゾン（千趣会）";
    clear: both;
    display: block;
    padding: 20px 20px;
    text-align: left;
    margin-left: 30px;
    background: url(../img/link_name.png) no-repeat center;
    background-size: 16px 13px;
    height: 10px;
    background-position: center left;
}
*/


.l-main .product-kv li img {
 /*   width: auto;
    height: 400px;*/
}
.l-main .product-kv {
    position: relative;
}
.login-before.page-transition-btn {
/*    height: 55px;*/
}
.login-before.page-transition-btn a {
    max-width: 950px;
    position: fixed;
    margin-left: -49%;
    left: 50%;
    bottom: 2px;
    /*background-color: rgba(244,244,244,.8);*/
    z-index: 8;
}
.l-footer {
    width: 100%;
    max-width: 970px;
    background-color: #d9ddde;
}

.l-footer ul {
    text-align: center;
}
.l-footer li {
    display: inline-block;
    margin: 10px 0;
}

.l-footer li a{
    font-size: 12px;
}

.l-footer li:after {
    padding: 0 10px;
    content: "|";
    color: #a6a4a2;
}
.l-footer li:last-child:after {
    content: "";
}
.l-footer small {
    display: block;
    padding: 6px 0;
    width: 100%;
    color: white;
    letter-spacing: 0.1rem;
    text-align: center;
    background-color: #231f19;
    font-size: 1.0rem;
}
.guide .bx-wrapper .bx-controls-direction a {
    margin-top: -12px;
}
.guide .bx-wrapper .bx-controls-direction a {
    width: 15.5px;
    height: 33.5px;
}
.guide .bx-wrapper .bx-prev {
    left: 10px;
    background: url(../img/btn_prev.png) no-repeat;
    background-size: cover;
}
.guide .bx-wrapper .bx-next {
    right: 10px;
    background: url(../img/btn_next.png) no-repeat;
    background-size: cover;
}
.guide .bx-wrapper .bx-pager {
    position: relative;
    margin: -24px 0 10px 0;
    overflow: hidden;
    text-align: center;
    z-index: 9;
}
.guide .bx-wrapper .bx-pager-item {
    display: inline-block;
    margin-left: 10px;
}
.guide .bx-wrapper .bx-pager-link {
    display: block;
    font-size: 1rem;
    width: 8px;
    height: 8px;
    color: #ffffff;
    background-color: #ffffff;
}
.guide .bx-wrapper .bx-pager-link.active {
    color: #231f19;
    background-color: #231f19;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    z-index: 0;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    outline: 0;
    text-indent: -9999px;
}

#detailIndex .bx-wrapper .bx-next {
    right: 10px;
    background: url(../img/slider-right.png) no-repeat ;
    background-size: 100% auto;
}
#detailIndex .bx-wrapper .bx-prev {
    left: 10px;
    background: url(../img/slider-left.png) no-repeat;
    background-size: 100% auto;
}

#detailIndex .bx-wrapper .bx-controls-direction a {
    position: absolute;
    z-index: 0;
    top: 50%;
    width: 15.5px;
    margin-top: -15.5px;
    height: 33.5px;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* @2016-07-07 */
/*.login-after {
    overflow: scroll;
    height: 370px;
    padding: 0 10px;
}*/

/* add 2016-11-25 ▲test */
.tab-wrap {
    width: 300%;
}

.rec-ch-desc{
    overflow: hidden;
}


/*----------------------------------------*/
/*  @channel
/*----------------------------------------*/

#channel{
    width:100%;
    background-color: #f0f2f2;
    padding-bottom: 20px;
    max-width: 970px;
}

#channel .l-main .rec-ch h2{
    background-color: #f0f2f2;
}


/*----------------------------------------*/
/*  @registration
/*----------------------------------------*/

.l-main #entry {
    width: 100%;
    max-width: 970px;
}

.l-main #entry h2{
    padding: 16px 0;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    background: #f0f2f2;
}


.l-main #entry .entryArea{
    margin: 0 12px;
}

.l-main #entry .entryArea .formTitle{
    font-size: 13px;
    padding: 10px 0px 5px;
    letter-spacing: 0.12em;
}

.l-main #entry .entryArea .gender{
    margin-bottom: 4px;
}

.l-main #entry .entryArea .gender .man{
    margin-left: 10px;
}

.l-main #entry .entryArea .textArea{
    padding: 12px 0 12px ;
    font-size: 13px;
    letter-spacing: 0.12em;
    line-height: 1.4;
}

.l-main #entry .entryArea .textArea .text{
    margin-top: 10px;
}

.l-main #entry .entryArea #formEmail{
    border: solid #a6a4a2 1px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 13px;
    color:#a6a4a2;
}


.l-main #entry .entryArea .passWord{
    margin-top: 10px;
}

.btn{
    background-color: #323333;
    color: #fff;
    width: 40%;
    margin: 10px auto 10px;
    text-align: center;
    display: block;
    padding: 12px 10px;
    border: none;
    font-size: 13px;
    line-height: 1.2;
}

.send{
    letter-spacing: 0.52em;
}

.l-main .entryArea .orText{
    text-align: center;
}

.l-main #entry .entryArea .snsArea{
    margin: 10px 0 33px;
}

.l-main #entry .entryArea .snsArea li{
    display:block;
    color:#fff;
    margin-bottom: 6px;
}

.l-main #entry .entryArea .snsArea .btnEntry{
    color:#fff;
    padding:14px 10px;
    display:block;
    text-align: center;
    letter-spacing: 0.06em;
}

.l-main #entry .entryArea .snsArea .fbEntry{
    background: #3b5998 url(../img/icon_fb_entry.png) no-repeat center left 10px;
    background-size: 25px 25px;
}

.l-main #entry .entryArea .snsArea .twEntry{
    background: #1da1f2 url(../img/icon_tw_entry.png) no-repeat center left 10px;
    background-size: 25px 25px;
}


.l-main #entry .entryArea .snsArea .yEntry{
    background: #e60012 url(../img/icon_y_entry.png) no-repeat center left 10px;
    background-size: 25px 25px;
}


/*----------------------------------------*/
/*  @rmail_complete
/*----------------------------------------*/


.l-main .entryArea .completeArea .title{
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.6;
}

.l-main .entryArea .completeArea .img{
    width:180px;
    margin: 0 auto;
}

.l-main .entryArea .completeArea .message{
    margin: 16px 0;
    line-height: 1.4;
    font-size: 13px;
    letter-spacing: 0.12em;
}

.l-main .entryArea .completeArea .message.done{
    width:70%;
}

.l-main .entryArea .topback.last{
    margin-bottom: 48px;
}

.l-main .entryArea .topback a{
    padding: 10px 10px 10px 26px;
    color: #fff;
    display: block;
    overflow: hidden;
    border: solid #231f19 2px;
    text-align: center;
    font-size: 1.3rem;
    color:#231f19;
    letter-spacing: 0.12em;
}


.l-main .entryArea .topback a:after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/ch_transition_btn.png);
    background-size: cover;
    vertical-align: sub;
    background-position: right center;
    float: right;
}

.l-main .entryArea #formpassword{
    width:100%;
    border: solid #a6a4a2 1px;
    padding:8px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.l-main .entryArea .birthday{
    border: solid #a6a4a2 1px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px 10px;
}

.gender input[type="radio"] {
    position: relative;
    -webkit-appearance: button;
    appearance: button;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    content: "";
    background-color: #FFFFFF;
    border: 1px solid #999999;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.gender input[type="radio"]:checked:after {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    content: "";
    width: 9px;
    height: 9px;
    background: #000;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}


.l-main .entryArea select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    background-size: 36px 32px;
    background-color: #fff;
    background-image: url(../img/select_arrow.png);
    background-position: center right;
    background-repeat: no-repeat;
    content:"";
}


/*----------------------------------------*/
/*  @skip
/*----------------------------------------*/

.l-main .entryArea .topback.black a{
    color:#fff;
    background-color: #000;
}


.l-main .entryArea .topback.black a:after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/ch_transition_white_btn.png);
    background-size: cover;
    vertical-align: sub;
    background-position: right center;
    float: right;
}

/*----------------------------------------*/
/*  @fileter
/*----------------------------------------*/

.l-main .entryArea .choice{
    margin: 16px 0 10px;
    font-size: 13px;
    letter-spacing: 0.12em;
}

.l-main .entryArea .entryTable{
    margin-bottom: 20px;
}

.l-main .entryArea .entryTable table{
    width:100%;
}

.l-main .entryArea .entryTable table th{
    text-align: left;
    padding:10px 0px 10px 6px;
    box-sizing: border-box;
    font-size: 13px;
    letter-spacing: 0.04em;
}

.l-main .entryArea .entryTable.category table th{
    width:70%;
}

.l-main .entryArea .entryTable.category table td{
    width:30%;
}

.l-main .entryArea .entryTable table td p{
    text-align: right;
    display:inline-block;
    font-size: 12px;
}

.l-main .entryArea .entryTable table td .check{
    background: url(../img/select.png) no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: 100% auto;
    text-align: right;
    background-position: center left;
    vertical-align: middle;
    padding-left: 10px;
}

.l-main .entryArea .entryTable table td .check.cur{
    background: url(../img/select_cur.png) no-repeat;
    background-size: 100% auto;
}


.l-main .entryArea .entryTable table td{
    text-align: right;
    box-sizing: border-box;
    font-size: 13px;
    letter-spacing: 0.04em;
    vertical-align: middle;
}

.l-main .entryArea .entryTable tr{
    border-bottom: 1px solid #b2afac;
}

.l-main .entryArea .entryTable table .select{
    border-bottom: 2px solid #231f19;
    padding-bottom:10px;
}

.l-main .entryArea .entryTable table .select th{
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: bold;
    padding: 10px 10px 10px 0;
}

.l-main .entryArea .entryTable table .select th span{
    display:inline-block;
}

.l-main .entryArea .pager{
    text-align: center;
    margin:10px 0;
}

/*
.entryTable input[type="checkbox"] {
    position: relative;
    -webkit-appearance: button;
    appearance: button;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    content: "";
    background-color: #FFFFFF;
    border: 1px solid #999999;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.entryTable input[type="checkbox"]:checked:after {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    content: "";
    width: 9px;
    height: 9px;
    background: #000;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}*/

/*
.checkbox {
  display: none;
}
.checkbox + .checkbox-icon {
  position: relative;
  vertical-align: middle;
}
.checkbox + .checkbox-icon:after {
  content: "\f372";
  font-family: "Ionicons";
  color: #ccc;
  font-size: 22px;
}
.checkbox:checked + .checkbox-icon:after {
  content: "\f374";
  color: #17bcdf;
}


.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #53b300;
  border-bottom: 3px solid #53b300;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}*/

/*----------------------------------------*/
/*  @fileter02
/*----------------------------------------*/

.l-main .entryArea .entryTable.shop table th{
    font-size: 12px;
}

.l-main .entryArea .entryTable.shop table .select th{
    text-align: right;
}

.l-main .entryArea .entryTable.shop table td{
    width:5%;
}

.l-main .entryArea .entryTable table th img{
    width:25%;
    vertical-align: middle;
    padding-right: 10px;
}

.l-main .entryArea .entryTable.category table .select td span{
   margin-left: 10px;
}

.l-main .entryArea .entryTable.catalog table .select td span{
   margin-left: 10px;
}

/*----------------------------------------*/
/*  @fileter03
/*----------------------------------------*/

.l-main .entryArea .entryTable.catalog table .select th{
    width:20%;
    padding-left: 0;
}

.l-main .entryArea .entryTable.catalog table th{
    width:18%;
    padding:6px;
}

.l-main .entryArea .entryTable.catalog table th img{
    width:100%;
}

.l-main .entryArea .entryTable.catalog table td{
    width:30%;
    vertical-align: middle;
}

.l-main .entryArea .entryTable.catalog table td.catalogTitle{
    text-align: left;
}

.l-main .entryArea .entryTable.catalog table td.catalogTitle dt{
    padding-bottom: 10px;
}

.l-main .entryArea .entryTable.catalog table td.catalogTitle dd{
    font-size: 11px;
    color:#a6a4a2;
}

/*----------------------------------------*/
/*  @login_index
/*----------------------------------------*/

.l-main .entryArea .pass{
    margin-top: 10px;
}

.l-main .entryArea .newSign{
    text-align: right;
}

.l-main .entryArea .newSign p{
    margin-bottom: 10px
}

.l-main .entryArea .newSign a{
    text-decoration: underline;
    display:inline-block;
}

.l-main .entryArea .newSign a:after{
    background:url(../img/tab_next_btn.png);
    background-size: 100% auto;
    content:"";
    display:inline-block;
    background-repeat: no-repeat;
    background-position:right center;
    width:6px;
    height:12.5px;
    margin-left: 10px;
}

/*----------------------------------------*/
/*  @password
/*----------------------------------------*/

.l-main .entryArea .reissue{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.l-main .entryArea .mt12{
    margin-top: 12px;
}

/*----------------------------------------*/
/*  @list.html
/*----------------------------------------*/

.l-main #mychannel h2 {
    line-height: 46px;
    font-weight: bold;
    text-align: center;
    background:#f0f2f2;
    letter-spacing: 0.12em;
}

.l-main #mychannel .category {
    padding: 10px;
    color: #231f19;
    letter-spacing: 0.12em;
    font-size: 1.3rem;
}

.l-main #mychannel .rec-ch-desc {
    -webkit-box-shadow: 0px -1px 2px 0px rgba(6,0,1,0.4);
    -moz-box-shadow: 0px -1px 2px 0px rgba(6,0,1,0.4);
    box-shadow: 0px -1px 2px 0px rgba(6,0,1,0.4);
}

.l-main #mychannel .rec-ch-desc .favolite-btn{
    right:10px;
}

/*----------------------------------------*/
/*  @mypage index.html
/*----------------------------------------*/


.l-main .entryArea .first{
    margin-top: 20px;
}

.l-main .entryArea .mb12{
    margin-bottom: 12px;
}

/*----------------------------------------*/
/*  @filter index.html
/*----------------------------------------*/

.l-header .login-area .login.out{
    margin: -14px 30px 0 0 !important;
}

/*----------------------------------------*/
/*  @favorite index.html
/*----------------------------------------*/

.l-main .orText.p12{
    padding: 12px;
}

/*----------------------------------------*/
/*  @mypage index.html
/*----------------------------------------*/

.l-main #entry .entryArea .snsArea.joint{
    margin: 10px 0;
}

.l-main .snsArea .snsName{
    margin-left: 40px;
}

.l-main .collabo{
    display: inline-block;
    float: right;
    padding: 8px 0px 8px 8px;
    margin-top: -8px;
    border-left: solid #fff 1px;
}

.l-main .snsArea .collabo.cooperation{
    color:#a6a4a2;
    border-left: solid #a6a4a2 1px;
}

.l-main .guide {
    margin-top: 0px;
}

        /* test */
.tab {
    background-color: white;
}

.guide .bx-wrapper .bx-pager-link {
    font-size: 0rem;
}

.l-footer {
    overflow: hidden;
}

.rec-ch .page-transition-btn {
    margin-top: 12px;
}
.tab {
    width: 300%;
    border-bottom: 1px solid #bbbab8;
}
.tab ul {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.tab li {
    float: left;
    width: 11.1111%;
    position: relative;
}


.tab li a {
    display: block;
    padding: 16px 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color:#a6a4a2;
}

.tab li.center a{
    font-weight: bold;
    border-bottom: solid #231f19 1px;
    color:#403e3b;
}


.tab-btn img {
    width: 6px;
    height: 12.5px;
    display: block;
    cursor: pointer;
}
.tab-btn.back img {
    margin: 32px 10px -30px;
}
.tab-btn.next img {
    margin: -30px 10px 17.5px auto;
}
.tab-bottom {
    border-top: 1px solid #bbbab8;
}
.back.tab-btn.buttom img {
    margin: 18px 10px -30px;
}
.login-before.page-transition-btn {
    padding: 15px 0 12px;
}

.page-transition-btn {
    margin: 0;
}

/*----------------------------------------*/
/*  @serch shop.html
/*----------------------------------------*/


.l-main .entryArea .entryTable.search{
    border-top: 1px solid #b2afac;
    margin-top: 16px;
}

.l-main .entryArea .entryTable.search .topback.black a:after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/search_white.png);
    background-size: cover;
    vertical-align: sub;
    background-position: right center;
    float: right;
}


.label input[type="radio"] {
    position: relative;
    -webkit-appearance: button;
    appearance: button;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    content: "";
    background-color: #FFFFFF;
    border: 1px solid #999999;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.label input[type="radio"]:checked:after {
    display: block;
    position: absolute;
    top: 4.5px;
    left: 4.5px;
    content: "";
    width: 11px;
    height: 11px;
    background: #000;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

/*----------------------------------------*/
/*  @serch keywords.html
/*----------------------------------------*/

.l-main #entry .relation-word ul{
   padding:0; 
}

/*----------------------------------------*/
/*  @serch result.html
/*----------------------------------------*/

.l-main .entryArea .columnButtonList {
    margin-bottom: -10px;
    display:block;
}

.l-main .entryArea .columnButtonList ul{
    text-align: right;
    margin:10px 0;
}

.l-main .entryArea .columnButtonList li{
    display:inline-block;
}

.l-main .entryArea .columnButtonList li a{
    display:block;
    text-align: right;
    width:100px;
    padding:10px;
}

.l-main .entryArea .columnButtonList .column1 a{
    border:solid #231f19 1px;
    color: #231f19;
    background: #fff url(../img/column_1.png) no-repeat center left 10px;
    background-size:16px;
}

.l-main .entryArea .columnButtonList .column1.cur a{
    border:solid #a6a4a2 1px;
    color: #fff;
    background: #a6a4a2 url(../img/column_1_cur.png) no-repeat center left 10px;
    background-size:16px;
}

.l-main .entryArea .columnButtonList .column2 a{
    border:solid #231f19 1px;
    color: #231f19;
    background: #fff url(../img/column_2.png) no-repeat center left 10px;
    background-size:16px;
}

.l-main .entryArea .columnButtonList .column2.cur a{
    border:solid #a6a4a2 1px;
    color: #fff;
    background: #a6a4a2 url(../img/column_2_cur.png) no-repeat center left 10px;
    background-size:16px;
}

.l-main #entry .rec-ch-desc.searchResult .favolite-btn{
    right:10px;
}

.l-main .entryArea .caption dt{
    border-bottom: 2px solid #231f19;
    padding-bottom: 10px;
    font-size: 16px;
    overflow: hidden;
    font-weight: bold;
}

.l-main .entryArea .caption dt span{
    background:url(../img/arrow_down.png) no-repeat;
    display:block;
    background-size: 16px 9px;
    width:16px;
    height:9px;
    float:right;
    margin-right: 6px;
}

.l-main .entryArea .caption dt span.cur{
    background:url(../img/arrow_up.png) no-repeat;
    display:block;
    background-size: 16px 9px;
    width:16px;
    height:9px;
    float:right;
    margin-right: 6px;
}

.l-main .entryArea .caption dd{
    border-bottom: 1px solid #b2afac;
    font-size: 12px;
    color:#231f19;
    letter-spacing: 0.04em;
    padding:18px 0;
    display:none;
}

.bx-pager.bx-default-pager{
    display:none;
}


.l-main .entryArea .entryTable table.searchTable tr{
    display:none;
}

.l-main .entryArea .entryTable table.searchTable tr.select{
    display:table-row;
}

.l-main .entryArea .entryTable table td .toggleContent{
    background: url(../img/arrow_down.png) no-repeat;
    width: 16px;
    height: 9px;
    display: inline-block;
    background-size: 100% auto;
    text-align: right;
    background-position: bottom left;
    vertical-align: middle;
    margin-right: 5px;
}

.l-main .entryArea .entryTable table td .toggleContent.cur{
    background: url(../img/arrow_up.png) no-repeat;
    background-size: 100% auto;
}

.l-main #entry .rec-ch-desc h2{
    background: #fff;
    font-size: 13px;
    padding:12px 0;
    border:none;
    letter-spacing: 0.12em;
}

.tiles .favolite-btn {
    right: 10px;
}

.tiles .favolite-btn.on {
    width: 19.5px;
    height: 19px;
    background: url(../img/favorite_btn_on.png) no-repeat;
    background-size: contain;
}

.l-main .entryArea .topback.black.searchBtn a:after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/search_white.png);
    background-size: cover;
    vertical-align: sub;
    background-position: right center;
    float: right;
}

.l-main .entryArea .caption dd{
    overflow: hidden;
    padding:10px 0;
}
.l-main .entryArea .caption.captionArea dt{
    margin-top: 25px;
}

.l-main .entryArea .caption.captionArea dd .title{
    display: block;
    vertical-align: inherit;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}
.l-main .entryArea .caption.captionArea dd .label{
    float:right;
}

.l-main .entryArea .entryTable table td .arrow{
    width:8px;
    margin-right: 6px;
}

.l-main .entryArea .error_textArea{
    padding:10px 0;
    display:none;
}

.l-main .entryArea .entryTable table td input.checkInput{
    display:none;
}

.l-main .entryArea .entryTable.searchTable{
    margin-top: 20px;
    border-top: 1px solid #b2afac;
}


.l-main .rec-ch-desc.head{
    margin-top: -50px;
    padding-top: 50px;
}


@media(min-width: 970px){

#content{
    position:static;
}


.l-nav{
    left: 50% !important;
    width: 970px !important;
    margin-left: -485px;
    top: 48px;
    height:auto;
    overflow: auto !important;
    margin-top: -1000px;
}

.l-nav ul{
    margin-bottom: 51px;
}

.login-before.page-transition-btn a {
    margin-left: -475px;
}


}
