<?php $this->layout = false;

	var_dump($message);
	__d('cake', 'Error');
	__d('cake', 'An Internal Error Has Occurred.');

?>

<h2><?php echo $message; ?></h2>
<p class="error">
	<strong><?php echo __d('cake', 'Error'); ?>: </strong>
	<?php echo __d('cake', 'An Internal Error Has Occurred.'); ?>
</p>

<?php
if (Configure::read('debug') > 0):
	echo $this->element('exception_stack_trace');
endif;
?>
